* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #e7e7e7;
}

.app-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid purple;
}

.input-container {
  /*display: flex;
  /*flex-direction: column;
height: 5rem;
  width: 20rem;
  justify-content: space-around;*/
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid rgb(0, 255, 106);
}
.input-container input {
  padding: 1rem;
  border: 1px solid #062847;
  margin: 2rem 2rem 2rem 0;
}

.maps-container {
  display: flex;
  justify-content: row;
  align-items: center;
  border: 2px solid red;
}

form {
  border: 1px solid rgb(68, 65, 65);
  text-align: center;
}
form input {
  margin: 2rem 0;
  padding: 1rem;
  display: block;
  width: 100%;
}
.formContainer {
  width: 50%;
  margin: 0 auto;
}
h2 {
  margin-top: 2rem;
}
